<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="(https://unpkg.com/@webpixels/css@1.1.5/dist/index.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.4.0/font/bootstrap-icons.min.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/stylesheets/style.css">
  <title>Document</title>
</head>
<body>
  <!-- Banner -->
<a href="https://webpixels.io/components?ref=codepen" class="btn w-full btn-primary text-truncate rounded-0 py-2 border-0 position-relative" style="z-index: 1000;">
  <strong>Crafted with Webpixels CSS:</strong> The design system for Bootstrap 5. Browse all components →
</a>

<!-- Dashboard -->
<div class="d-flex flex-column flex-lg-row h-lg-full bg-surface-secondary">
  <!-- Vertical Navbar -->
  <nav class="navbar show navbar-vertical h-lg-screen navbar-expand-lg px-0 py-3 navbar-light bg-white border-bottom border-bottom-lg-0 border-end-lg" id="navbarVertical">
      <div class="container-fluid">
          <!-- Toggler -->
          <button class="navbar-toggler ms-n2" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarCollapse" aria-controls="sidebarCollapse" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
          </button>
          <!-- Brand -->
          <a class="navbar-brand py-lg-2 mb-lg-5 px-lg-6 me-0" href="#">
              <img src="https://preview.webpixels.io/web/img/logos/clever-primary.svg" alt="...">
          </a>
          <!-- User menu (mobile) -->
          <div class="navbar-user d-lg-none">
              <!-- Dropdown -->
              <div class="dropdown">
                  <!-- Toggle -->
                  <a href="#" id="sidebarAvatar" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <div class="avatar-parent-child">
                          <img alt="Image Placeholder" src="https://images.unsplash.com/photo-1548142813-c348350df52b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=3&w=256&h=256&q=80" class="avatar avatar- rounded-circle">
                          <span class="avatar-child avatar-badge bg-success"></span>
                      </div>
                  </a>
                  <!-- Menu -->
                  <div class="dropdown-menu dropdown-menu-end" aria-labelledby="sidebarAvatar">
                      <a href="#" class="dropdown-item">Profile</a>
                      <a href="#" class="dropdown-item">Settings</a>
                      <a href="#" class="dropdown-item">Billing</a>
                      <hr class="dropdown-divider">
                      <a href="#" class="dropdown-item">Logout</a>
                  </div>
              </div>
          </div>
          <!-- Collapse -->
          <div class="collapse navbar-collapse" id="sidebarCollapse">
              <!-- Navigation -->
              <ul class="navbar-nav">
                
                  <li class="nav-item">
                      <a class="nav-link" href="#">
                          <i class="bi bi-house"></i> Dashboard
                      </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">
                        <i class="bi bi-people"></i> Patient
                    </a>
                </li>
                  <li class="nav-item">
                      <a class="nav-link" href="#">
                          <i class="bi bi-bar-chart"></i> Professionnel de sante
                      </a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="#">
                          <i class="bi bi-chat"></i> <main>Maladie</main>
                          
                      </a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="#">
                          <i class="bi bi-bookmarks"></i> Vaccin
                      </a>
                  </li>
                 
              </ul>
              <!-- Divider -->
              <hr class="navbar-divider my-5 opacity-20">
              <!-- Navigation -->
             
              <!-- Push content down -->
              <div class="mt-auto"></div>
              <!-- User (md) -->
              <ul class="navbar-nav">
                  <li class="nav-item">
                      <a class="nav-link" href="#">
                          <i class="bi bi-person-square"></i> Account
                      </a>
                  </li>
                 
              </ul>
          </div>
      </div>
  </nav>
  <!-- Main content -->
  <div class="h-screen flex-grow-1 overflow-y-lg-auto">
      <!-- Header -->
      <header class="bg-surface-primary border-bottom pt-6">
          <div class="container-fluid">
              <div class="mb-npx">
                  <div class="row align-items-center">
                      <div class="col-sm-6 col-12 mb-4 mb-sm-0">
                          <!-- Title -->
                          <h1 class="h2 mb-0 ls-tight">Application</h1>
                         
                      </div>
                      <!-- Actions -->
                     
                  </div>
                  <!-- Nav -->
                 
              </div>
          </div>
      </header>
      <!-- Main -->
      <main class="py-6 bg-surface-secondary surfac">
          <div class="text-center pb-4">
              <a href="/insertdoctor" class="btn btn-primary">Ajouter professionnel</a>
          </div>
              <% if (patient == '' ){ %>
            <p>Pas de Cathegorie disponible pour le moment</p>
            <% } else if (patient){ %>
                <div class="container-fluid">
              <!-- Card stats -->
            
              <div class="card shadow border-0 mb-7 d-none">
                  <div class="card-header">
                      <h5 class="mb-0">Applications</h5>
                  </div>
                  <div class="table-responsive">
                      <table class="table table-hover table-nowrap">
                          <thead class="thead-light">
                              <tr>
                                  <th scope="col">Nom</th>
                                  <th scope="col">Prenom</th>
                                  <th scope="col">Numero</th>
                                  <th scope="col">Adresse Email</th>
                                  <th scope="col">Actions</th>
                              </tr>
                          </thead>
                          <tbody>

                  <% patient.forEach(function(patient){ %>
                             <tr>
                                  <td>
                                      <img alt="..." src="https://images.unsplash.com/photo-1502823403499-6ccfcf4fb453?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=3&w=256&h=256&q=80" class="avatar avatar-sm rounded-circle me-2">
                                      <a class="text-heading font-semibold" href="#">
                                          <%= patient.nom %>
                                      </a>
                                  </td>
                                  <td>
                                       <%= patient.prenom %>
                                  </td>
                                
                                  <td>
                                     <%= patient.numero %>
                                  </td>
                                  <td>
                                      <%= patient.email %>
                                  </td>
                                  <td class="text-end">
                                      <a href="/detail/<%= patient.id %>" class="btn btn-sm btn-neutral">View</a>
                                      <a href="/update/<%= patient.id %>" class="btn btn-sm btn-neutral  bg-danger text-white" data-bs-toggle="modal" data-bs-target="#modal_example"><i class="bi bi-trash"></i></a>
                                      <a href="/edit/<%= patient.id %>" class="btn btn-sm btn-neutral bg-primary text-white"> <i class="bi bi-pen"></i></a>
                                     
                                  </td>
                              </tr>

                        
                            <% }); %>

                            
                          </tbody>
                      </table>
                  </div>
                  <div class="card-footer border-0 py-5">
                      <span class="text-muted text-sm">Showing 10 items out of 250 results found</span>
                  </div>
              </div>
          </div>
               
        <% } %>

        <% if (doctor == '' ){ %>
            <p>Pas de Cathegorie disponible pour le moment</p>
            <% } else if (doctor){ %>
                <div class="container-fluid">
              <!-- Card stats -->
            
              <div class="card shadow border-0 mb-7 ">
                  <div class="card-header">
                      <h5 class="mb-0">Applications</h5>
                  </div>
                  <div class="table-responsive">
                      <table class="table table-hover table-nowrap">
                          <thead class="thead-light">
                              <tr>
                                  <th scope="col">Nom</th>
                                  <th scope="col">Prenom</th>
                                  <th scope="col">Numero</th>
                                  <th scope="col">Adresse Email</th>
                                  <th scope="col">Actions</th>
                              </tr>
                          </thead>
                          <tbody>

                  <% doctor.forEach(function(doctor){ %>
                             <tr>
                                  <td>
                                      <img alt="..." src="https://images.unsplash.com/photo-1502823403499-6ccfcf4fb453?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=3&w=256&h=256&q=80" class="avatar avatar-sm rounded-circle me-2">
                                      <a class="text-heading font-semibold" href="#">
                                          <%= doctor.nom %>
                                      </a>
                                  </td>
                                  <td>
                                       <%= doctor.prenom %>
                                  </td>
                                
                                  <td>
                                     <%= doctor.numero %>
                                  </td>
                                  <td>
                                      <%= doctor.email %>
                                  </td>
                                  <td class="text-end">
                                      <a href="/doctor/infodoctor/<%= doctor.id %>" class="btn btn-sm btn-neutral">View</a>
                                      <a href="/detaildoctor/<%= doctor.id %>" class="btn btn-sm btn-neutral  bg-danger text-white" data-bs-toggle="modal" data-bs-target="#modal_example"><i class="bi bi-trash"></i></a>
                                      <a href="/doctor/detaildoctor/<%= doctor.id %>" class="btn btn-sm btn-neutral bg-primary text-white"> <i class="bi bi-pen"></i></a>
                                     
                                  </td>
                              </tr>

                        
                            <% }); %>

                            
                          </tbody>
                      </table>
                  </div>
                  <div class="card-footer border-0 py-5">
                    
                  </div>
              </div>
          </div>
               
        <% } %>



          

         
      </main>
  </div>
</div>




<div class="modal" id="modal_example" tabindex="-1" aria-labelledby="modal_example" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content shadow-3">
        <div class="modal-header">
          
          <div class="text-xs ms-auto">
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
        </div>
        <div class="modal-body">
          <p>
            <p>Etre vous sure de voulois supprimer votre compte.</p>
          </p>
        </div>
        <% patient.forEach(function(patient){ %>
        <div class="modal-footer">
            <button type="button"  class="btn btn-sm btn-neutral bg-success text-white" onclick="non()">Non</button>
            <button type="button" onclick="supp('<%= patient.id %>')" class="btn btn-sm btn-neutral bg-danger text-white" >Oui</button>
        
        </div>
        <% }); %>
      </div>
    </div>
  </div>
</body>




</html>
